/* 글꼴 */
@font-face {
  font-family: "GmarketSansTTFBold";
  src: url(./fonts/GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: "GmarketSansTTFLight";
  src: url(./fonts/GmarketSansTTFLight.ttf);
}
@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url(./fonts/GmarketSansTTFMedium.ttf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-family: "GmarketSansTTFMedium";
  box-sizing: border-box;
  color: rgb(78, 78, 78);
  font-weight:300;
}
