/* 글꼴 */
@font-face {
  font-family: "GmarketSansTTFBold";
  src: url(./fonts/GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: "GmarketSansTTFLight";
  src: url(./fonts/GmarketSansTTFLight.ttf);
}
@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url(./fonts/GmarketSansTTFMedium.ttf);
}
*{
  font-family: "GmarketSansTTFMedium";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight:300;
}
