{{>layouts/header}}

<form>
    <p>로그인 페이지입니다.</p>
    사용자: <br><input type="text" name="username"><br>
    비밀번호: <br><input type="password" name="password">
    <br><a href="">Confirm</a>
    <br><a href="/signuppage">Sign up!</a>
</form>
{{>layouts/footer}}