{{>layouts/header}}

<table class ="table">
    <thead>
    <tr>
        <th>번호</th>
        <th>분류</th>
        <th>학년</th>
        <th>과목이름</th>
        <th>과목코드</th>
        <th>이수구분</th>
        <th>학점</th>
        <th>정원</th>
        <th>신청인원</th>
        <th>수업시간</th>
        <th>담당교수</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <th>{{department}}</th>
            <th>{{grade}}</th>
            <th>{{subject_name}}</th>
            <th>{{subject_id}}</th>
            <th>{{divison}}</th>
            <th>{{grades}}</th>
            <th>{{max_count}}</th>
            <th>{{register_count}}</th>
            <th>{{time}}</th>

            <th>{{professor}}</th>
        </tr>
    {{/articleList}}
    </tbody>
</table>

{{>layouts/footer}}